*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #232323;
    font-family: 'Times New Roman', Times, serif;
}

.square{
    background-color: purple;
    padding-bottom: 30%;
    width: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    box-shadow: -6px -4px 6px 4px  black;
    transition: all 0.6s ease;
}

#container{
    max-width: 600px;
    margin: 2% auto;
    overflow: hidden;
}

h1{
    background-color: steelblue;
    color:white;
    text-align: center;;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4% 0;
    line-height: 1.1;
}
h1 span{
    font-size: 2em;
}

#stripe{
    font-weight: bold;
    background-color: #fff;
    color: #000;
    height: 30px;
    text-align: center;

}
#message{
    display: inline-block;
    text-transform: uppercase;
    width: 30%;
}

#stripe button{
    text-transform: uppercase;
    color: steelblue;
    padding:1px 5px;
    height: 100%;
    background-color: transparent;
    font-size: inherit;
    border: none;
    outline: none;
    font-weight: 900;
    transition: all 0.3s ;
}

#stripe button.selected {
    color: white;
    background-color: steelblue;
}

#stripe button:hover {
    color: white;
    background-color: steelblue;
}